
<h1>Companies</h1>

<% @companies.each do |company| %>
	<div class="row">
		<div class="col-lg-2">
			<a href="<%= company.website_url %>"><%= company.name %></a>
			<img src="<%= company.logo_url %>" />
		</div>
		<div class="col-lg-2">
			<%= company.company_type %> Founded: <%= company.founded %>
		</div>
		<div class="col-lg-2">
			<%= company.market %>
		</div>
		<div class="col-lg-2">
			<% if !company.technology_used.nil? %>
				<% company.technology_used.each do |tech| %>
					<div class="btn btn-default btn-xs"><%= tech %></div>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>